<app-header title="My contacts app">
    <a routerLink="/contacts" routerLinkActive="active-link">Contacts</a>
    <a routerLink="/contact-detail" routerLinkActive="active-link">Contact detail</a>
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    <a [routerLink]="[{ outlets: { popup: ['logout'] } }]">Logout</a>
</app-header>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>